@model proMvcApi.Models.Sach

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Sach</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenSach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TacGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TacGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamXuatBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamXuatBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaChuDeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaChuDeNavigation.MaChuDe)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaSach">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
